*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    background: #42455a;
    box-sizing: border-box;
}
.menu ul{
    margin: 0;
}
.menu li{
    display: inline;
}
.menu a{
    display: inline-block;
    padding: 50px;
    color: #b2b1b1;
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
}
.menu a:hover{
    background-color: rgba(225, 225, 225, .1);
}
.active a{
    color: #19dafa;
}
.about-text{
    height: 100%;
    width: 60%;
    float: right;
    padding: 100px 70px 0 30px
}
.name-title p{
    font-size: 80px;
    font-weight: bold;
}
.icon-set li{
    display: inline;
}
.icon-set a{
    display: inline-block;
    padding: 10px;
}
.bio-text p{
    font-size: 20px;
}
.about-img{
    width: 40%;
    float: left;
    padding: 100px 30px 0 70px;
    text-align: center;
}
.about-img img{
    max-width: 100%;
    max-height: 800px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.55);
}
.proj-list ul{
    margin: 0;
    text-align: center;
}
.proj-list li{
    display: inline-flex;
}
.card{
    margin: 50px;
    height: 500px;
    width: 400px;
    border: 2px solid gray;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
    background-color: white;
}
.card img{
    max-width: 100%;
    min-width: 100%;
    max-height: 60%;
    min-height: 60%;
    background-color: white;
    border-bottom: 1px solid black;
}
.card ul{
    margin: 10px;
    text-align: left;
    background-color: white;
}
.card li{
    display: inline;
    background-color: lightgray;
    color: black;
    padding: 7px;
    font-size: large;
    border-radius: 20px;
}
.proj-link{
    background-color: white;
    color: #777;
    min-height: 40%;
    max-height: 40%;
    position: relative;
}
.proj-link a{
    position: absolute;
    background-color: inherit;
    color: black;
    text-decoration: none;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
}