{% extends "base.html" %}

{% block menu %}
    <li class="active">
        <a href="about">About</a>
    </li>
    <li>
        <a href="projects">Projects</a>
    </li>
    <li>
        <a href="timeline">Timeline</a>
    </li>
    <li>
        <a href="photography">Photography</a>
    </li>
{% endblock menu %}

{% block content %}
    <div>
        <h1>A Little Bit About Me</h1>
        <p>Here is some placeholder text for this section. It will contain 
        my bio, including general info about me, my career background, 
        and career goals/aspirations. (To be completed later)</p>
    </div>
    <div>
        <img src="../static/images/Blue_Start_Memorial_Park_01.jpg" width="500">
    </div>
{% endblock content %}