{% extends "base.html" %}

{% block menu %}
    <li>
        <a href="about">About</a>
    </li>
    <li class="active">
        <a href="projects">Projects</a>
    </li>
    <li>
        <a href="timeline">Timeline</a>
    </li>
    <li>
        <a href="photography">Photography</a>
    </li>
{% endblock menu %}

{% block content %}
    <div class="proj-list">
        <ul>
            <li>
                <div class="card">
                    <img src="static/images/web-dev.jpeg">
                    <ul>
                        <li>Python</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>

                    <div class="proj-link">
                        <a target="_blank" 
                        href="https://github.com/gburnett7/portfolio">This Website</a>
                    </div>
                </div>
            </li>

            <li>
                <div class="card">
                    <img src="static/images/web-dev.jpeg">
                    <ul>
                        <li>C++</li>
                    </ul>

                    <div class="proj-link">
                        <a target="_blank" 
                            href="https://github.com/gburnett7/scaling-bloom-filter">
                            Scaling Bloom Filter</a>
                    </div> 
                </div>
            </li>

            <li>
                <div class="card">
                    <img src="static/images/web-dev.jpeg">
                    <ul>
                        <li>C</li>
                    </ul>
                    <di class="proj-link">
                        <a target="_blank"
                         href="https://github.com/gburnett7/portfolio">Placeholder</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock content %}